body {
  background-color: green;
}

h1 {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 100px
}


.glow-text {
  color: #007bff;
  animation: pulse-glow 2s infinite alternate;
}

@keyframes pulse-glow {
  from {
    text-shadow: 0px 0px 5px #007bff;
  }
  to {
    text-shadow: 0px 50px 50px #007bff, 0px -50px 50px #007bff;
  }
}
